@tailwind base;
@tailwind components;
@tailwind utilities;






.rise-shake{
    animation: Shake 2s linear infinite; 

}


/*Using keyframes for shaking an image*/
@keyframes Shake { 
    0% { 
        transform: rotate(0deg); 
    } 
  
    25% { 
        transform: rotate(-3deg); 
    } 
  
    50% { 
        transform: rotate(0deg); 
    } 
  
    75% { 
        transform: rotate(-3deg); 
    } 
  
    100% { 
        transform: rotate(0deg); 
    } 
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
